
* {margin: 0%; padding: 0%;}

main {
  color: rgb(0, 0, 0);
  margin: 0;
  max-width: 1200px;
  min-width: 200px;
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "section section section"
  "aside aside aside"
  "footer footer footer";
  grid-template-rows: 
  
  330px
  350px
  450px
  400px
  850px;
  align-items: center;
}

 /* cabecera */
header {
    background-color: rgb(162, 199, 255);
    grid-area: header;
    overflow: hidden;
    position:sticky;
    height: 70px;
    width: 100vw;
    padding: 1%;
    align-self: flex-start ;
}
header > div {
    float: right;
    margin-right: 4px;
    padding-bottom: 50px;
}
.instagram {
    width:30px;
    height: 30px;
	position: relative;
    margin: 5px;
	top: -38px;
	right: 100px;
    justify-content: space-evenly;
}
  .title {
    font-family: "Bebas Neue";
    animation-name: aparecer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-decoration: underline;
    float: left;
    margin-top: 0px;
    margin-left: 20px;
}
.nav-link {
    color: whitesmoke;
    font-family: "Manrope" , sans-serif;
}

/*cabecera tienda*/
#menu ul {
  list-style: none;
  margin:0;
  padding:0;
}

#menu ul a {
  height: 10px;
  display:block;
  color:#fff;
  text-decoration:none;
  font-size:  15px;
  padding-right: 150px;
  padding-top: 6px;
  text-transform:uppercase;
  letter-spacing:1px;
}

#menu ul li {
    font-family: "Manrope" sans-serif;
    margin: 10px;
    background-color: rgb(162, 199, 255);
    width: 25%;
    float: right;
    list-style-type: none; 
    position: relative; 
}

#menu ul li:hover {
  background:rgb(162, 199, 255);
}

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  right: 0;
  padding: 0;
}

#menu ul ul li {
  float:none;
  width:150px
}

#menu ul ul a {
  line-height:40%;
  padding:10px 8px 10px 10px;
}

#menu ul li:hover > ul {
  display: block;
}
/* Menú */
nav {
    grid-area: nav;
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    margin-top: -314px;
    height: 635px;
}

.carta {
    font-family: "Bebas Neue";
    display: flex;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    letter-spacing: 20px;
    text-align: center;
    padding: 1.4em;
    font-size: 120px;
    top: 80%;
    left: 50%;
    border-radius: 20px;
}

.carta:hover {
    transform: translate(0.5%,0.5%);
    transition-duration: 0.3s;
}

/* sucursales */
section {
    grid-area: section;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-left: 10px;
}
.column-1 {
    width: 100%;
    display: flex;
    justify-self: left;
    overflow: hidden;
}
.column-2 {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.column-1:hover {
    -webkit-transform:scale(1.1%);
    transform:scale(1.05);
       filter: grayscale(100%);
       transition-duration: 2s;
}
.column-2:hover {
    -webkit-transform:scale(1.1%);
    transform:scale(1.05);
    filter: grayscale(100%);
    transition-duration: 2s;
}
.col-md-6 {
    width: 50%;
    display: block;

  }

/* Eventos */
aside {
    grid-area: aside;
    background-color: rgb(255, 255, 255);
  }
.foto-eventos {
    object-fit: cover;
    width: 98vw;
    height: 326px;
    margin: 0%;
  }
  .foto-eventos:hover {
          transition: height 10s;
         filter : blur(20px);
         border-radius: 0%;
         transform : scale(1.05);
  }
  /* Tienda */
.title-tienda {
    font-family: "Bebas Neue";
    font-weight: normal;
    float: left;
    padding-top: 10px;
    margin-left: 20px;
}
.nav-instagram {
    padding-top: 50px;
    padding-left: 95px;
}

  .foto-eventos--modifier {
    object-fit: cover;
    width: 98vw;
    height: 300px;
    margin: 0%;
    top: 0%;
}
.carta--modifier {
    background-color: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
        font-family: "Bebas Neue";
        font-weight: lighter;
        text-transform: uppercase;
        display: block;
        font-size: 90px;
        color: #f1ebe5;
        text-shadow: 0 8px 9px #c49dac, 0px -2px 1px #fff;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        padding: 50px 50px;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
.nav-link--modifier {
    padding: 6px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
    outline: none;
}
.section-tienda {
    grid-area: section;
    background-color: rgb(179, 179, 179);
}
.row-tienda {
    margin-top: -250px;
}
.click {
    border-radius: 20%;
    width: 350px;
    height: 350px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 70px;
    padding-top: -250px;
}
.click:hover {
    -webkit-transform: translate(10px);
    transform: translate(1px 1px 5px);
    transition-duration: 1s;
}
.subtitle--modifier2 {
    margin-left: 620px;
    font-family: "Bebas Neue";
}
  

/* textos */
.subtitle {
    font-family: "Bebas Neue";
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.subtitle--modifier {
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.titulo2--modifier {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: left;
    color:rgb(0, 0, 0);
    margin-left: 200px;
    margin-top: 30px;
}
.textofooter {
    color: white;
    font-family: 'Manrope', sans-serif;
    margin-left: 15px;
    margin-bottom: 5px;
}
.bordes {
    font-family: 'Manrope', sans-serif;
    outline: none;
    opacity: 30%;
    border: 0;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 8px;
    color: rgb(61, 168, 255);
}
.bordes--modifier {
    font-family:'Manrope', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 6px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
}
.bordeenviar {
    margin-left: 15px;
    margin-top: 2px;
}
.bordes--modifier:hover { 
    background-color: #000000; 
    color:#dfe;
}
.contacto {
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 15px;
}
.pay-v {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 2px;
}
.pay-m {
    width: 4%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-a {
    width: 6%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-b {
    width: 7%;
    height: 0.5%;
    background-color: white;
    margin-left: 10px;
}
.pay-c {
    width: 7%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-t {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 10px;
}
.pay-mp {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 10px;
}

/* preguntas frecuentes */
.preguntas {
    color: white;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
  footer {
    grid-area: footer;
    background-color: rgb(138, 185, 255);
  }