
* {margin: 0%; padding: 0%;}

body {
  overflow-x: hidden;
}
main {
  color: rgb(0, 0, 0);
  margin: 0;
  max-width: 1500px;
  min-width: 200px;
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-areas:
  "header header header"
  "article article article"
  "main main main"
  "section section section"
  "aside aside aside"
  "footer footer footer";
  grid-template-rows: 
  
  50px
  100px
  100px
  500px
  400px
  400px;
  align-items: center;
}

/* Inicio */
article {
  grid-area: article;
  background-color: none;
}
 /* cabecera */
header {
    background-color: rgb(0, 0, 0);
    grid-area: header;
    overflow: hidden;
    position:sticky;
    width: 101%;
    height: 70px;
    padding-top: 20px;
    align-self: flex-start ;
}
#btn-menu {
  display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 1px ;
}
header label:hover {
  cursor: pointer;
  background-color: black;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.menu li {
  text-align: end;
}
.menu li a {
  display: block;
  padding: 1px 30px;
  text-decoration: none;
}
@media (max-width:768px) {
  header label {
    display: block;
  }
  .menu {
    position: fixed;
    background-color: black;
    margin-right: 0;
    padding-right: 0px;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 0px;

  }
}
.iconomenu {
  width: 5px;
}
.instagram {
  width: 30px;
  height: 30px;
  margin: 5px;
	top: -38px;
	right: 100px;
  justify-content: space-evenly;
}
  .title {
    font-family: "Bebas Neue";
    color: whitesmoke;
    text-decoration: underline;
    float: left;
    margin-top: -9px;
    margin-left: 10px;
}
.nav-link {
    color: whitesmoke;
    font-family: "Manrope" , sans-serif;
}

/* Menú */
.container-nav {
    grid-area: main;
    background-color: none;
    margin-top: 2px;
    padding: 145px;
    width: 100%;
    height: 50px;
}
.carta {
    font-family: "Bebas Neue";
    color: #e7e7e7;
    text-shadow: 0 5px 5px #ff49b9, 0px -2px 1px rgb(50, 255, 221);
    letter-spacing: 20px;
    text-align: center;
    font-size: 70px;
    border-radius: 20px;
}
.pedido {
  font-family: "Bebas Neue";
  color: whitesmoke;
  text-shadow: 0 5px 5px #ff49b9, 0px -2px 1px rgb(50, 255, 221);
  letter-spacing: 20px;
  text-align: center;
  padding-left: 50px;
  font-size: 70px;
  border-radius: 20px;
}

.carta:hover {
    transform: translate(0.5%,0.5%);
    transition-duration: 1s;
}
.subtitulo-titulo {
  font-family: "Bebas Neue";
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 30px;
}
/* sucursales */
section {
    grid-area: section;
    background-color: none;
    align-items: center;
    padding-left: 10px;
}
.column-1 {
    width: 100%;
    display: flex;
    justify-self: left;
    overflow: hidden;
    object-fit: cover;
}
.column-2 {
    width: 100%;
    display: flex;
    overflow: hidden;
    object-fit: cover;
}
.column-1:hover {
    -webkit-transform:scale(1.1%);
    transform:scale(1.05);
       filter: grayscale(100%);
       transition-duration: 2s;
}
.column-2:hover {
    -webkit-transform:scale(1.1%);
    transform:scale(1.05);
    filter: grayscale(100%);
    transition-duration: 2s;
}
.col-md-6 {
    width: 50%;
    display: block;

  }

/* Eventos */
aside {
    grid-area: aside;
    background-color: none;
  }
.foto-eventos {
    object-fit: cover;
    width: 98vw;
    height: 326px;
    margin: 0%;
  }
  .foto-eventos:hover {
          transition: height 10s;
         filter : blur(20px);
         border-radius: 0%;
         transform : scale(1.05);
  }
  /* Tienda */
.title-tienda {
    font-family: "Bebas Neue";
    font-weight: normal;
    float: left;
    padding-top: 1px;
    margin-left: 20px;
}
.nav-instagram {
    padding-top: 50px;
    padding-left: 95px;
}

  .foto-eventos--modifier {
    object-fit: cover;
    width: 98vw;
    height: 300px;
    margin: 0%;
    top: 0%;
}
.carta--modifier {
    background-color: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
        font-family: "Bebas Neue";
        font-weight: lighter;
        text-transform: uppercase;
        display: block;
        font-size: 90px;
        color: #f1ebe5;
        text-shadow: 0 8px 9px #c49dac, 0px -2px 1px #fff;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        padding: 50px 50px;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
.nav-link--modifier {
    padding: 6px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
    outline: none;
}
.section-tienda {
    grid-area: section;
    background-color: rgb(179, 179, 179);
}

.click {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.click:hover {
    -webkit-transform: translate(10px);
    transform: translate(1px 1px 5px);
    transition-duration: 1s;
}
.subtitle--modifier2 {
    margin-left: 620px;
    font-family: "Bebas Neue";
}
  

/* textos */
.subtitle {
    font-family: "Bebas Neue";
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.subtitle--modifier {
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.titulo2--modifier {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: left;
    color:rgb(0, 0, 0);
    margin-left: 200px;
    margin-top: 30px;
}
.textofooter {
    color: white;
    font-family: 'Manrope', sans-serif;
    margin-left: 15px;
    margin-bottom: 5px;
}
.bordes {
    font-family: 'Manrope', sans-serif;
    outline: none;
    opacity: 30%;
    border: 0;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 8px;
    color: rgb(61, 168, 255);
}
.bordes--modifier {
    font-family:'Manrope', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 6px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
}
.bordeenviar {
    margin-left: 15px;
    margin-top: 2px;
}
.bordes--modifier:hover { 
    background-color: #000000; 
    color:#dfe;
}
.contacto {
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 15px;
}
.pay-v {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 2px;
}
.pay-m {
    width: 4%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-a {
    width: 6%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-b {
    width: 7%;
    height: 0.5%;
    background-color: white;
    margin-left: 10px;
}
.pay-c {
    width: 7%;
    height: 3%;
    background-color: white;
    margin-left: 10px;
}
.pay-t {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 10px;
}
.pay-mp {
    width: 4%;
    height: 2%;
    background-color: white;
    margin-left: 10px;
}

/* preguntas frecuentes */
.preguntas {
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  text-align: center;
}
.respuesta {
    color: white;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
  footer {
    grid-area: footer;
    background-color: none;
  }

.pay-t {
  margin-left: 10px;
}

.pay-mp {
  margin-left: 10px;
}

/* preguntas frecuentes */
.preguntas {
  color: white;
  font-family: "Manrope" sans-serif;
  text-align: center;
}


/* --> GLIDER <-- */

.glider {
  width: 30%;
  object-fit: cover;
}
.row--modifier {
  margin-top: 11px;
  margin-left: 20px;
  margin-block-start: 10px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-top: 0px;
  display: flex;
}
.column {
  flex: 100%;
}
@media (max-widht: 600px) {
  .column {
    flex: 50%;
  }
}
/*# sourceMappingURL=estilos.css.map */