@mixin subtitulos {
  font-family: "Bebas Neue";
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}
@mixin LetraManrope {
  font-family: "Manrope" sans-serif;
}
$colors: (
  primario: #fff,
  secundario: rgb(0, 0, 0)
);

* {margin: 0%; padding: 0%;}

/* ---> Menù <--- */

main {
  color: rgb(0, 0, 0);
  margin: 0;
  max-width: 1200px;
  min-width: 200px;
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "section section section"
  "aside aside aside"
  "footer footer footer";
  grid-template-rows: 
  
  330px
  350px
  450px
  400px
  850px;
  align-items: center;
}

/* ---> header <--- */

header {
  background-color: rgb(162, 199, 255);
  grid-area: header;
  overflow: hidden;
  position:sticky;
  height: 70px;
  width: 100vw;
  padding: 1%;
  align-self: flex-start ;
  
         div {
         float: right;
         margin-right: 4px;
         padding-bottom: 50px;
         }

        .instagram {
        width:30px;
        height: 30px;
        position: relative;
        margin: 5px;
        top: -38px;
        right: 100px;
        justify-content: space-evenly;
        }

        .title {
        font-family: "Bebas Neue";
        animation-name: aparecer;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        text-decoration: underline;
        float: left;
        margin-top: 0px;
        margin-left: 20px;
        }

        .nav-link {
        color: whitesmoke;
        @include LetraManrope();
        }
      }

    
/* --> cabecera tienda <-- */

#menu {

        ul {
            list-style: none;
            margin:0;
            padding:0;
          a {
                height: 10px;
                display:block;
                color:#fff;
                text-decoration:none;
                font-size:  15px;
                padding-right: 150px;
                padding-top: 6px;
                text-transform:uppercase;
                letter-spacing:1px;
            li {
                   @include LetraManrope();
                   margin: 10px;
                   background-color: rgb(162, 199, 255);
                   width: 25%;
                   float: right;
                   list-style-type: none; 
                   position: relative;
              li:hover {
                           background:rgb(162, 199, 255);
                       }
               }
            }
        }            
            
             
             ul { 
                 ul {
                    display:none;
                    position:absolute;
                    top:100%;
                    right: 0;
                    padding: 0;
                 li {
                      float:none;
                      width:150px;
                  a {
                        line-height:40%;
                        padding:10px 8px 10px 10px;
                    }
                  }
                }
              }
          }

/* textos */
.subtitle {
  @include subtitulos();
}
.subtitle--modifier {
  @include LetraManrope();
  margin-top: 10px;
  text-align: center;
  color: white;
}
.titulo2--modifier {
  @include LetraManrope();
  font-size: 20px;
  text-align: left;
  color:rgb(0, 0, 0);
  margin-left: 200px;
  margin-top: 30px;
}
.textofooter {
  @include LetraManrope();
  color: white;
  margin-left: 15px;
  margin-bottom: 5px;
}
.bordes {
  @include LetraManrope();
  outline: none;
  opacity: 30%;
  border: 0;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 8px;
  color: rgb(61, 168, 255);
}
.bordes--modifier {
  @include LetraManrope();
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 6px;
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 6px;
}
.bordeenviar {
  margin-left: 15px;
  margin-top: 2px;
}
.bordes--modifier:hover { 
  background-color: #000000; 
  color:#dfe;
}
.contacto {
  @include LetraManrope();
  color: rgb(255, 255, 255);
  margin-left: 15px;
}

/* llamado a maps */


.pay-v {
  $primario: map-get($colors, primario);
  width: 4%;
  height: 2%;
  object-fit: cover;
  margin-left: 2px;
}
.pay-m {
  @extend .pay-v;
  margin-left: 10px;
}
.pay-a {
  @extend .pay-v;
  margin-left: 10px;
}
.pay-b {
  @extend .pay-v;
  margin-left: 10px;
}
.pay-c {
  @extend .pay-v;
  margin-left: 10px;
}
.pay-t {
  @extend .pay-v;
  margin-left: 10px;
}
.pay-mp { 
  @extend .pay-v;
  margin-left: 10px;
}

/* preguntas frecuentes */
.preguntas {
  color: white;
  @include LetraManrope();
  text-align: center;
}
footer {
  grid-area: footer;
  background-color: rgb(138, 185, 255);
}

